<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>用于登录的servlet类</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>registerServlet_1</servlet-name>
    <servlet-class>com.registerServlet_1</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>registerServlet_1</servlet-name>
    <url-pattern>/registerServlet_1</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
</web-app>
